// Place all the styles related to the api/albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.album-index{
    display: flex;
    flex-direction: column;
    height: 0;
    align-items: center;
}

.album-list-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
}

.album-list{
    position: relative;
    display: flex;
    margin-bottom: 0;
    flex-wrap: wrap;
    padding: 0;
}


.album-index-item{
    min-height: 1px;
    width: 20%;
    padding-left: 18px;
    padding-right: 18px;
    margin: 0;
    text-align: center;
}

.album-index-item-container{
}

.album-index-item-container img{
    width: 100%;
    height: 100%;
}

.album-index-art-name{
    margin: 12px 0 4px;
}

.album-index-art-name a{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .015em;
    font-weight: bold;
    color: #fff;
    text-transform: none;
}  

.album-index-artist a{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .015em;
    font-weight: normal;
    color: #b3b3b3;
    text-transform: none;
}

/// album-show

.album-show{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 32px;
    margin: 0 auto;
    margin-top: 35px;
    max-width: 1480px;
}

.album-song-list{
    display: flex;
    width: 100%;
}

.album-show-left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
}

.album-show-art-name-artist{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.album-show-name, .album-show-artist{
    text-align: center;
}

.album-show-name{
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -.005em;
    font-weight: bold;
    color: #fff;
    text-transform: none;
    overflow-wrap: break-word;
    margin: 12px 0 4.2px 0; 
}

.album-show-artist a{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .015em;
    font-weight: bold;
    color: #b3b3b3;
    text-transform: none;
}

.album-show-artist:hover a{
    color: #fff;
    border-bottom: 1px solid transparent;
    border-bottom-color: currentcolor;
}


.album-show-left img{
    width: 100%;
    height: auto;
}

.album-show-art-name-artist{
    max-width: 320px;
}

.album-show-right{
    height: 0;
    width: 66%;
}

.album-show-right ol{
    padding: 0 8px 0 8px;
    margin: 0;
    list-style: none;
}

.album-show-right li{
    display: flex;
    height: 63.828px;
    width: 100%;
}

.album-show-right li:hover{
    background-color: rgba(0,0,0,.3);
}

.album-show-play-button-wrapper{
    margin-top: 35px;
    text-align: center;
}

.album-show-year{
    margin-top: 16px;
    display: flex;
    justify-content: center;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: .015em;
    font-weight: bold;
    color: #b3b3b3;
    text-transform: uppercase;
    letter-spacing: .16em;
}

.album-show-dot{
    font-size: 22px;
    line-height: 4px;
    letter-spacing: .015em;
    font-weight: bold;
    padding: 0 10px 0 9px;
    color: #b3b3b3; 
}

@media only screen and (max-width: 1550px) {
    .album-index-item {
        width: 29%;
    }

    .album-index-name a{
        line-height: normal;
        font-size: 25px;
    }

    .album-index-artist a{
        line-height: normal;
        font-size: 25px;
    }
}