.browse{
    width: 100%;
}

.browse-content{
    padding: 0 32px;
    margin: 0 auto;
    max-width: 1480px;
}

.made-for-block h1{
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -.005em;
    font-weight: bold;
    color: #fff;
    margin-bottom: 0;
}

.made-for-block h2{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .015em;
    font-weight: normal;
    color: #b3b3b3;
    margin-top: 0;
}