.footer-player{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 90px;
    background-color:rgb(40, 40, 40);
    border-top: 1px solid #000;
}

.footer-player a {
    color: white;
}

.music-player {
    display: flex;
    width: 50%;
    height: 50%
}

.music-player audio {
}
