.header-player{
    display: flex;
    justify-content: center;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    color: #b3b3b3;
    text-transform: uppercase;
    letter-spacing: .16em;
    color: #fff;
    max-width: 1480px;
    margin: auto;
}

.header-player ul {
    display: flex;
    padding-left: 0;
}

.header-player li{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-player li a{
    position: relative;
    padding: 5px 10px;
    color: #b3b3b3;
}

.header-player li:hover a{
    color:white;
}


.header-player-bar{
    content: "";
    height: 2px;
    background-color: #1db954;
    width: 30px;
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -15px;  
}

