.login-form-header{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 24px 0;
}


.login-form-box {
    border-top: 1px solid #dfe0e6;
}

.login-form {
    width: 450px;
    display: flex;
    flex-direction: column;
}

.login-form h2{
    font-size: 18px;
    margin-bottom: 16px;
}

.login-form-box, .login-form-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input.red-border{
    border: 1px solid #bd3200!important; 
}

select.red-border{
    border: 1px solid #bd3200!important; 
}

.login-form-details div input {
    width:  100%;
    height: 48px;

    font-size: 15px;
    padding: 0 11.250px;
    border: 1px solid #dfe0e6;
    color: #88898c;
    border-radius: 2px;
    background-color: #FFF;
}

.login-form-details div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 16px;
}

.dob{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 16px;  
}

.dob div div:nth-child(2){
    padding: 0 20px;
}

.dob-first-line{
    width:100%;
    font-size: 15px;
    color: #88898c;
}



.dob-second-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.months {
    width: 45%;
}

.months, .day, .year{
    display: flex;
}

.dob-second-line select {
    -webkit-appearance: none;
    color: #88898c;
    height: 48px;
    line-height: 1em;
    padding: 9.375px;
    width: 100%;
    border: 1px solid #dfe0e6;
    border-radius: 2px;
    background-color: #FFF;
    white-space: pre;
 background: url("https://i.ibb.co/b7xjLrB/selectbox-arrow.png") right center no-repeat;
}




.dob-second-line option:nth-child(n) {
    color: #88898c;
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    line-height: 1em;
    font-size: .9375em;
    text-size-adjust: 100%;

}




.dob-second-line input{
    height: 48px;
    padding: 0 11.250px;
    width: 100%;
    border-radius: 2px;
    background-color: #FFF;
    border: 1px solid #dfe0e6;
    color: #88898c;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.day {
    width: 22%;
}

.year {
    width: 33%;
}

input{
    box-sizing: border-box;
}

.gender div {
    display: flex;
    color: #88898c;
    font-size: 15px;
}

.gender {
    margin-bottom: 16px;
}

.gender label:nth-child(n+2){
    margin-left: 15px;
}

.share-data label{
    text-align: left;
    color: #88898c;
    display: flex;
    font-size: 12px;
}

.share-data label div{
    padding-left: 10px;
}

.login-form-box a {
    color: #1DB954;
}

.login-form-header img {
    height: 59px;
    width: 197px;
}

.legal-stuff{
    font-size: 12px;
    text-align: center;
    margin-bottom: 16px;
}

.splash-grn-button-sign-up {
    margin-bottom: 16px;
    width: 320px;
    align-self: center;
}

.sign-up-form-redirect{
    font-size: 15px;
    align-self: center;
}

.error, .post-error {
    color: #bd3200;
    font-size: 15px;
    padding-top: 5px;
}

.hidden {
    display: none;
}



.splash-grn-button-login-button {
    width: 210px;
}

.login-divider{
    border-top: 1px solid #d9dadc;
    display: block;
    line-height: 1px;
    margin: 15px 0;
    position: relative;
    text-align: center;    
}

button {
    cursor: pointer;
}

button.splash-grn-button-sign-up-not-green {
    background-color: white;
    color: #616467;
    box-shadow: inset 0 0 0 2px #616467;
    width: 410px;
}

button.splash-grn-button-sign-up-not-green:hover {
    color: #fff;
    background-color: rgb(97, 100, 103);
}

.login-boxes-first-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.login-boxes-first-row label {
    display: flex;
}

// custom check box
/* The container */
.container{
  display: flex;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: white;
  border: #dfe0e6 1px solid;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
// .container:hover input ~ .checkmark {
//   background-color: #ccc;
// }

/* When the checkbox is checked, this is the background */
.container input:checked ~ .checkmark {
  background-color: #1db954;
  border: #1db954 1px solid;
}

/* Show the checkmark when checked */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 6px;
    top: 2.7px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(26deg);
}
//

.forgot-pw{
    display: flex;
    justify-content: center;
}

.showSignup{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.showSignup div h2{

    text-align: center;
    margin-bottom: 35px;
}

div.login-error{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f59b23;
    border-color: #f59b23;
    color: #fff;
    border-width: 0;
    font-size: 12px;
    font-weight: 400;
    margin: 6px 0 34px;
    height: 44px;
}

.noSelect {
    outline: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.active{
    display: flex;
}

div.active {
    display: flex;
}

.login-form-divider{
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 400;
}

.login-form-wrapper{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -15px;
    margin-right: -15px;
    width: 450px;
}

.divider-login{
    border-top: 1px solid #d9dadc;
    display: block;
    line-height: 1px;
    margin: 15px 0;
    position: relative;
    text-align: center;
    top: 0;
    left: -16px;
    width: 100%;
}

.login-or{
    background: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: bold;
}

button.blue-button {
    color: #fff;
    background-color: #3b5998;
    box-shadow: none;
}

button.blue-button:hover {
    background-color: #3b5998;
}