.player {
    display: flex;
    // background-image: linear-gradient(to right bottom, rgb(36, 58, 56), rgb(0, 0, 0)), linear-gradient(transparent, rgb(0, 0, 0) 70%);
}

.player-background{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-repeat: repeat;
    background-attachment: fixed;
    z-index: -1;  
}

.player-background-browse{
    background-image: linear-gradient(to top, transparent, rgba(27, 42, 109, 0.781) 95%),linear-gradient(to bottom, transparent, rgb(13, 26, 83) 95%), asset-url("browse-bg.jpg");
}

.player-background-song-index{
    background-image: linear-gradient(to top, transparent, rgba(4, 11, 41, 0.616) 95%),linear-gradient(to bottom, transparent, rgba(3, 9, 37, 0.952) 95%), asset-url("song-index-bg1.jpg");
}