.queue-page{
    margin: 0 auto;
}

.queue-page h1, .queue-page h2{
    color: white;
    font-weight: bold;
    padding-left: 30px;
}

.queue-page h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

div.queue-current {
    height: 90px;
}


div.green {
    color: #1db954;
}

section.green{
    color: #1db954;
}

@media only screen and (max-width: 980px) {

    .queue-page h2 {
        font-size: 27px;
        margin-bottom: 0;
    }

    div.queue-current {
        height: 120px;
    }
}