.queue-page{
    margin: 0 auto;
}

.queue-page h1, .queue-page h2{
    color: white;
    font-weight: bold;
    padding-left: 30px;
}

.queue-page h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

div.queue-current {
    height: 90px;
}

.queue-current .song-name, .queue-current .song-item-song-length{
    color: #1db954;
}