.queue-page{
    margin: 0 auto;
}

.queue-page h1, h2{
    color: white;
    font-weight: bold;
    padding-left: 30px;
}

.queue-page h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

div.queue-current {
    height: 90px;
}

