.left-nav-bar{
    background-color: rgba(0, 0, 0, 0.8);
    min-width: 230px;
    height: 100vh;
}

.left-nav-wrapper{
    padding-top: 24px;
}

.left-nav-logo img{
    width: 131px;
    height: 40px;
}

.left-nav-logo {
    padding-left: 24px;
    padding-bottom: 18px;
}